:root {
  --min-dimension: 320px;
  --max-dimension: 350px;
}

.gameSectionContainerDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  gap: 4em;
}

.gameBoardDiv {
  display: grid;
  min-width: var(--min-dimension);
  max-width: var(--max-dimension);
  aspect-ratio: 1 / 1;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  width: 100%;
}
