.restartGameContainerDiv {
  width: 100%;
}

.restartGameContainerDiv > button {
  border-radius: 5px;
}

.restartGameButton {
  background-color: var(--blue-primary);
  border: 2px solid var(--blue-primary);
  color: white;
  font-weight: bold;
  font-size: 15px;
  transition: all 0.2s ease-in-out;
}

.restartGameButton:hover {
  color: var(--blue-primary);
  background-color: transparent;
  border: 2px solid var(--blue-primary);
}
