.symbolDiv,
.unchosenTileDiv {
  min-width: 100%;
  max-width: 100%;
  aspect-ratio: 1/1;
  border-radius: 20px;
  overflow: hidden;
  padding: 20px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
}

.symbolDiv {
  cursor: not-allowed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.unchosenTileDiv {
  cursor: pointer;
}
