.symbolDiv,
.unchosenTileDiv {
  border: 1px solid var(--text-primary);
  min-width: 100%;
  max-width: 100%;
  aspect-ratio: 1/1;
}

.symbolDiv {
  cursor: not-allowed;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.unchosenTileDiv {
  cursor: pointer;
}
