:root {
  --text-primary: #213547;
  --text-white: rgb(215, 216, 216);
  --bg-primary: rgb(37, 39, 42);
  --bg-secondary: rgb(34, 36, 39);
  --bg-lighter: #888;
  --bg-light: #aaa;
  --bg-yellow: rgb(254, 214, 82);

  --h1-font-size: 3.2em;
  --h2-font-size: 3em;
  --h3-font-size: 2.8em;
  --h4-font-size: 2.5em;
  --h5-font-size: 2em;
  --h6-font-size: 1.8em;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.d-flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

h1 {
  font-size: var(--h1-font-size);
}

img {
  width: 100%;
  height: auto;
  object-fit: contain;
  object-position: center;
}

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: var(--text-primary);
  background-color: var(--bg-primary);
}
